<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561325078098-2ir7oom8aohank814bdsf2j167pd4dbc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561325078098-2ir7oom8aohank814bdsf2j167pd4dbc</string>
	<key>API_KEY</key>
	<string>AIzaSyBgSWjs0jx3ynPi_VhW4dbHuUWRh70xr08</string>
	<key>GCM_SENDER_ID</key>
	<string>561325078098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HKtechnologies.FoodGB</string>
	<key>PROJECT_ID</key>
	<string>project-shop-adbd5</string>
	<key>STORAGE_BUCKET</key>
	<string>project-shop-adbd5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:561325078098:ios:7356e0645f345f3a00d18b</string>
</dict>
</plist>
